 <h3 class="title"><%= favorite.name %></h3>
  <h4><%= favorite.location.name %></h4>
  <h4><%= favorite.foodtype.name %></h4><br>
  <% @tweets[favorite.name][0..5].each do |tweet| %>
    <p><%= tweet[:text] %></p>
  <% end %><br><br>
